body {
    font-family: $Jost;
    font-size: 16px;
    line-height: 26px;
}

.container {
    max-width: 1400px;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 48px;
}

h2 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 2px;
}

h3 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 5px;
}

.btn-custom {
    background-color: $white;
    color: $black;
    width: 152px;
    border-radius: 8px;
    border-color: transparent;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 21px;
    text-transform: uppercase;
    height: 56px;
    &:hover {
        color: $white;
        background-color: $lightPeach;
        border-color: transparent;
    }
}