.midsection {
    position: relative;
    top: 70px;
    .midsection-container {
        max-width: 1111px;
        height: 292px;
        border-radius: 15px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-image: url('../assets/shared/desktop/bg-pattern-three-circles.svg');
        background-color: $peach;
        background-position: 518px 155px;
        background-repeat-x: no-repeat;
    
        .text-content {
            max-width: 459px;
            height: 148px;
            position: relative;
            left: 95px;
            h2 {
                text-transform: capitalize;
                // max-width: 268px;
                height: 98px;
                color: $white;
            }
            p {
                color: $white;
            }
        }
        .btn-custom {
            position: relative;
            right: 96px;
        }
    
        @media only screen and (max-width: 1024px) {
            max-width: 690px;
            height: 350px;
            flex-direction: column;
            justify-content: center;
    
            .text-content {
                left: 0px;
                bottom: 17px;
                text-align: center;
            }
    
            .btn-custom {
                right: 0;
                top: 16px;
            }
        }

        @media only screen and (max-width: 768px) {
            max-width: 327px;
            height: 380px;

            .text-content {
                max-width: 300px;
            }

            .btn-custom {
                top: 20px;
            }
        }
    }
}