// Bootstrap css
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;700&display=swap');
$Jost: 'Jost', sans-serif;
$Spartan: 'Spartan', sans-serif;

// Colors
$peach: #e78168;
$lightPeach: #ffad98;
$black: #1d1c1e;
$darkGrey: #333136;
$white: #fff;
$lightGrey: #f1f3f5;